<!-- app/views/articles/index.html.erb -->

<!DOCTYPE html>
<html lang="">
<head>
  <title>Articles</title>
</head>
<body>
<h1>Articles</h1>
<ul>
  <% @retrieved_articles.each do |retrieved_article| %>
    <li>
      <h2><%= retrieved_article['title'] %></h2>
      <p><%= retrieved_article['body'] %></p>
      <br></br>
    </li>
  <% end %>
</ul>
</body>
</html>


